* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-color: rgb(24, 24, 24);
    height: 100vh;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 15px;
}

.calculadora {
    position: absolute;
    background-image: linear-gradient(black,rgba(25, 23, 64, 0.564));
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    border: 1px solid rgb(56, 55, 55);
}

#sinal {
    background-color: rgb(31, 31, 31);
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 1px;
    cursor: pointer;
    background-color: rgb(50, 50, 50);
    border: none;
    border-radius: 5px;
    color: white;
}

.botao:hover {
    background-color: black;
}

#igual {
    height: 102px;
    background-color: rgb(31, 44, 108);
}

#zero {
    width: 102px;
}

#resultado {
    background-color: rgb(41, 52, 62);
    width: 198px;
    height: 30px;
    margin: 5px;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: right;
    padding: 5px;
}